autopep8
blinker
click
colorama
decorator
dnspython
Flask
Flask-Cors
Flask-JWT-Extended
importlib-metadata
itsdangerous
Jinja2
MarkupSafe
pycodestyle
PyJWT
gunicorn
pymongo
python-dotenv
six
tomli
validators
Werkzeug
zipp
